<div class="row">
    {{#each contacts}}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        {{title}} <a href="/contacts/edit/{{_id}}"><i class="fas fa-edit"></i></a>
                    </h4>
                    <p>{{description}}</p>
                    <form action="/contacts/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger btn-block btn-sm" type="submit">
                            Borrar
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {{else}}
        <div class="card mx-auto">
            <div class="card-body">
                <h1>Hola {{user.name}}</h1>
                <p class="lead">Aun no hay contactos</p>
                <a href="/contacts/add" class="btn btn-success btn-block">Crear Contacto</a>
            </div>
        </div>
    {{/each}}
</div>